<% include ./partials/header %>

<h1>INDEX PAGE!</h1>

<% blogs.forEach(function(blog){ %>
   <div>
       <h2><%=blog.title%></h2>
       <img src="<%= blog.image %>" height="300" width="250">
       <span><%= blog.created %></span>
       <p><%= blog.body %></p>
   </div>
<% }); %>

<% include ./partials/footer %>