<% include partials/header %>

<h1>This is the football grounds page</h1>
<a href="/footballGrounds/new">Add New Statium</a>

<% footballGrounds.forEach(function(grounds){ %>
      <div>
           <h4><%= grounds.name; %></h4> 
           <img src="<%= grounds.image %>">
      </div>
<% }); %>

<% include partials/footer %>