<% include partials/header %>

<h1>Create a New FootballGround</h1>

<form action="/footballGrounds" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image url">
    <button>Submit</button>
</form>

<a href="/footballGrounds">Go Back</a>

<% include partials/footer %>